@use 'theme';

dialog {
    padding: 0.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 0.5rem;
}

dialog div {
    margin: 3rem;
}

dialog form {
    display: flex;
    justify-content: end;
    gap: 0.375rem;
}

dialog form button {
    padding: 0.3125rem 0.875rem;
}

dialog form button:first-child {
    background: theme.$gray-200;
    color: theme.$gray-950;
}

dialog form button:first-child:hover {
    background: theme.$gray-300;
    color: theme.$gray-950;
}

dialog form button:first-child:active {
    background: theme.$gray-400;
    color: theme.$gray-950;
}

dialog form button:last-child {
    background: theme.$gray-950;
    color: theme.$gray-50;
}

dialog form button:last-child:hover {
    background: theme.$gray-900;
    color: theme.$gray-50;
}

dialog form button:last-child:active {
    background: theme.$gray-800;
    color: theme.$gray-50;
}