@use 'theme';

nav {
    margin: 1.5rem 0;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li::before {
    margin: 0;
}

nav ul li a {
    color: theme.$gray-500;
    text-decoration: none;

    &::after {
        display: none;
    }

    &:hover {
        color: theme.$gray-950;
    }
}