$gray-950: #030712 !default;
$gray-900: #111827 !default;
$gray-800: #1f2937 !default;
$gray-500: #6b7280 !default;
$gray-400: #9ca3af !default;
$gray-300: #d1d5db !default;
$gray-200: #e5e7eb !default;
$gray-50: #f9fafb !default;